# Byte-compiled
__pycache__/
*.py[cod]

# C extensions
*.so

# Compiled objects
*.o

# Compiled static libraries
*.a

# Distribution/packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg
lib/
lib64/
sdist/
var/
wheels/

# Executables
*.out

# Unit test/coverage reports
cover/
coverage.xml
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/
.tox

# Sphinx documentation
docs/build/
docs/source/api*/
docs/source/tutorials/**
*.rst

# Jupyter Notebook
.ipynb_checkpoints

# Editors
.vscode/

# Storage
storage/

# Sandboxes
sandbox/

# Exclusions
# Files: triumvirate/*.cpp
**/triumvirate/*.cpp

# Files: docs/source/_static/params_template.*
# Files: docs/source/_static/Makefile
docs/source/_static/params_template.*
docs/source/_static/Makefile

# Files: publication/supplements/*.npy
publication/supplements/**/*.npy

# Exceptions
# File: build/.gitignore
!build/.gitignore

# File: docs/source/index.rst
# File: docs/source/background.rst
# File: docs/source/installation.rst
# File: docs/source/tutorials.rst
# File: docs/source/apiref.rst
# File: docs/source/apidoc_py.rst
# File: docs/source/faq.rst
!docs/source/index.rst
!docs/source/background.rst
!docs/source/installation.rst
!docs/source/tutorials.rst
!docs/source/apiref.rst
!docs/source/apidoc_py.rst
!docs/source/faq.rst

# Files: docs/source/tutorials/*.ipynb
!docs/source/tutorials/*.ipynb

# File: docs/build/.ignore
!docs/build/.gitignore

# File: tests/test_build/.gitignore
**/tests/test_build/**
!**/tests/test_build/.gitignore

# File: tests/test_output/.gitignore
**/tests/test_output/**
!**/tests/test_output/.gitignore
