# Byte-compiled
__pycache__/
*.py[cod]

# Distribution/Packaging
build/
!build/.gitignore
develop-eggs/
eggs/
.eggs/
*.egg
*.egg-info/
lib/

# Docs
docs/build/**
!docs/build/.gitignore

# Tests
**/tests/test_build/**
!**/tests/test_build/.gitignore

**/tests/test_output/**
!**/tests/test_output/.gitignore

# Data storage
storage/input/**
!storage/input/params/
storage/input/params/**
!storage/input/params/params_example.yml
!storage/input/params/params_example.ini

storage/output/**
!storage/output/.gitignore

# Editors
.vscode/
.ipynb_checkpoints
