# Binaries
build/
!build/.gitignore

# Docs builds
docs/build/
!docs/build/.gitignore

# Data storage
tests/test_build/**
!tests/test_build/.gitignore

tests/test_output/**
!tests/test_output/.gitignore

storage/input/**
!storage/input/params/params.ini

storage/output/**
!storage/output/results/.gitignore

storage/misc/**

# Editor
.vscode/
