recursive-exclude src/triumvirate *.cpp
recursive-include src/triumvirate *.pxd *.pyx
recursive-include src/triumvirate/include *.hpp
recursive-include src/triumvirate/src *.cpp
recursive-include src/triumvirate/resources *.ini *.yml

recursive-include tests *.py
graft tests/test_input/

prune .devcontainer
prune .github
prune application
prune build
prune deploy
prune docs
prune examples
prune publication
exclude .gitattributes
exclude .gitignore
exclude .readthedocs.yml
exclude CITATION.md
exclude CONTRIBUTING.md
exclude NOTES.md
include Makefile
include CITATION.cff
