@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
}


/* Make left sidebar title invisible. */
.bd-links__title {
    display: none;
}
