{% if context.history.unreleased | length > 0 -%}
## Unreleased
{% for type_, commits in context.history.unreleased | dictsort %}
### {{ type_ | capitalize }}
{% for commit in commits %}
- {{ commit.descriptions[0].rstrip() }}
{% endfor %}
{% endfor -%}
{% endif %}
