# Automate publication manuscripts.
#
# Publications currently include:
# - J. Open Source Softw.
#
name: publication

on:
  push:
    branches:
      # Host publications on branch 'main'.
      - main
    paths:
      # Append publications.
      - publication/joss/**
      - .github/workflows/publication.yml

jobs:
  joss:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # By default, the source .md and product .pdf are both named 'paper'
      # and reside in the same directory.

      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: publication/joss/paper.md

      - name: Upload draft PDF
        uses: actions/upload-artifact@v6
        with:
          name: paper
          path: publication/joss/paper.pdf
